<h1>Editing Menuadmrresultadoglobalt</h1>

<%= render 'form', menuadmrresultadoglobalt: @menuadmrresultadoglobalt %>

<%= link_to 'Show', @menuadmrresultadoglobalt %> |
<%= link_to 'Back', menuadmrresultadoglobalts_path %>
