<h1>Editing Menuposrventaxfechat</h1>

<%= render 'form', menuposrventaxfechat: @menuposrventaxfechat %>

<%= link_to 'Show', @menuposrventaxfechat %> |
<%= link_to 'Back', menuposrventaxfechats_path %>
