<p id="notice"><%= notice %></p>

<%= link_to '< atras', new_jugadalot_path %>

<h2> *AYUDA COMANDOS: </h2>

<h3>Setear Sorteo:</h3>

<h4> .01 -> Loteria Nacional</h4>
<h4> .02 -> Ganamas</h4>
<h4> .03 -> Leidsa Q.</h4>
<h4> .04 -> Real Q.</h4>
<h4> .05 -> NY Noche</h4>
<h4> .06 -> NY Tarde</h4>
<h4> .07 -> Loteka</h4>


<h3>Otros:</h3>
<h4> /at -> Anular Ticket.</h4>
<h4> /ct -> Consultar Ticket.</h4>
<h4> /pt -> Pagar Ticket.</h4>
<h4> /g ->  Consultar ganadores de Hoy.</h4>
<h4> /g+01-01-2018 ->  Consultar ganadores x fecha.</h4>
<h4> /h ->  Consultar fecha y hora del sistema.</h4>



