<h1>Editing Menuadmrresultadoglobalxsupervisort</h1>

<%= render 'form', menuadmrresultadoglobalxsupervisort: @menuadmrresultadoglobalxsupervisort %>

<%= link_to 'Show', @menuadmrresultadoglobalxsupervisort %> |
<%= link_to 'Back', menuadmrresultadoglobalxsupervisorts_path %>
