<h1>Reporte de Resultados x Supervisor</h1>

<p id="notice"><%= notice %></p>

<%= render 'form', menuadmrresultadoglobalxsupervisort: @menuadmrresultadoglobalxsupervisort %>

<%= link_to 'Menu', menuts_path %>