<body onload="autoclick_inicio()">  </body>

<p id="notice">Ok. %></p>

<% session[:terminal_autorizada] = true %>

<script type="text/javascript">
	function autoclick_inicio(argument) {
	// body...
	document.getElementById('boton_inicio').click(); // hacer autoclick para empezar ok.
	}
	
</script>


