<h1>Editing Menuposrventadiaactualt</h1>

<%= render 'form', menuposrventadiaactualt: @menuposrventadiaactualt %>

<%= link_to 'Show', @menuposrventadiaactualt %> |
<%= link_to 'Back', menuposrventadiaactualts_path %>
