<h1>Editing Menuadmticketsganadoresxfechat</h1>

<%= render 'form', menuadmticketsganadoresxfechat: @menuadmticketsganadoresxfechat %>

<%= link_to 'Show', @menuadmticketsganadoresxfechat %> |
<%= link_to 'Back', menuadmticketsganadoresxfechats_path %>
