<p id="notice"><%= notice %></p>

<h1>Edicion de Sucursal</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realusers.each do |realuser| %>
      <tr>

        <td><%= realuser.email%></td> <!--manageuserbt.email contiene el id de User en el selct de HTML del recurso http://localhost:3000/manageuserbts/new -->
       
         <td><%= link_to 'Editar', edit_manageuserbt_path(realuser) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

