<p id="notice"><%= notice %></p>

<h2>Status PROCESAMIENTO</h2>

<p id="notice"><%= notice %></p>

</br>

<%= button_to "LINEAS", new_lineat_path, method: :get %>

</br>

<%= link_to '<< Menu', menuts_path %>
